#wpbody-content:has(div.matches-schedule-container) {
	width: unset;
}

body:has(div.matches-schedule-container) {
	overflow-x: unset !important;
}

.matches-schedule-container {
	padding: 10px;
	margin-right: 20px;
}

.matches-schedule-parent {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
}

.matches-schedule-parent .table-title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#matches-schedule-container .table-title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#matches-schedule-container table {
	font-size: 20px;
}

#matches-schedule-container table tr {
	display: flex;
}

#matches-schedule-container table th {
	font-weight: bold;
	padding: 10px;
	flex: 1;
	max-width: 200px;
	min-width: 150px;
}

#matches-schedule-container table td {
	display: flex;
	flex: 1;
	max-width: 200px;
	min-width: 150px;
}

#matches-schedule-container table td div {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;

	span {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.match-cell-info:hover {
	cursor: pointer;
	transform: scale(1.15);
	transition: all 0.3s ease;
	border-radius: 5px;
	border: 1px solid black;
}

.modifications-handler {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

#matches-schedule-container table .headers-cell {
	width: 100px;
	flex: unset;
	min-width: unset;
}

#matches-schedule-container table .hour-cell {
	text-align: center;
	flex: unset;
	width: 100px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	min-width: unset;
}

#matches-schedule-container table .pause-cell {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	max-width: unset;
}

#matches-schedule-container table .day-cell {
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 25px;
	font-weight: 700;
	max-width: unset;
}
