#pending-officials-container table,
#registered-officials-container table {
	font-size: 20px;
}

#pending-officials-container table caption,
#registered-officials-container table caption {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	min-width: 500px;
}

#pending-officials-container table th,
#registered-officials-container table th {
	font-weight: bold;
	padding: 10px;
}

#pending-officials-container table td,
#registered-officials-container table td {
	padding: 10px;
}

#pending-officials-container table td img,
#registered-officials-container table td img {
	width: 100px;
	height: 100px;
}

#pending-officials-container table td div,
#registered-officials-container table td div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
