.notifications-data-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.notifications-data-container div {
	display: flex;
	gap: 10px;
	align-items: center;
}

.notifications-buttons {
	margin-left: 100px;
	display: flex;
	gap: 20px;
}

.notifications-data-container textarea {
	min-height: 200px;
	min-width: 500px;
}

.notifications-note {
	max-width: 500px;
}

.notifications-dialog {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.notifications-dialog p {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.notifications-dialog .modal-buttons {
	display: flex;
	gap: 10px;
	flex-direction: row;
}

.notifications-dialog .modal-buttons button {
	flex: 1;
}

.notifications-dialog span {
	max-width: 400px;
	font-size: 18px;
}
